.dashboard {
  min-height: 100vh;
  padding: 40px;
  background: linear-gradient(180deg, #fff7ed, #f9fafb);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard h1 {
  margin-bottom: 32px;
  font-size: 40px;
  color: #1f2937;
}

/* CARDS */
.cards-container {
  display: flex;
  gap: 24px;
  width: 100%;
  max-width: 900px;
}

.card {
  flex: 1;
  background-color: #ffffff;
  border-radius: 22px;
  padding: 28px;

  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #374151;
}

.card p {
  font-size: 38px;
  font-weight: 700;
  color: #111827;
}

/* VARIAÇÕES */
.alunos {
  border-top: 6px solid #f97316;
}

.vagas {
  border-top: 6px solid #fb923c;
}

/* AÇÕES */
.acoes-container {
  margin-top: 48px;
  width: 100%;
  max-width: 900px;
}

.card-acao {
  background: linear-gradient(135deg, #fff7ed, #ffffff);
  color: #9a3412;
  padding: 20px;
  border-radius: 35px;
  cursor: pointer;
  border-bottom: 3px solid #ff9f5b99;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;

  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.card-acao h3 {
  font-size: 20px;
}

.card-acao p {
  opacity: 0.85;
}

.card-acao:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.12);
}
