.dashboard {
  min-height: 100vh;
  padding: 40px;
  background: linear-gradient(135deg, #f45f02, #ffffff);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard h1 {
  margin-bottom: 32px;
  font-size: 42px;
  color: #ffffff;
}

.cards-container {
  display: flex;
  gap: 24px;
  width: 100%;
  max-width: 800px;
}

.card {
  flex: 1;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 24px;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h3 {
  margin-bottom: 12px;
  font-size: 24px;
  color: #444;
}

.card p {
  font-size: 36px;
  font-weight: bold;
  color: #222;
}

.alunos {
  border-top: 6px solid #8d88eb;
}

.vagas {
  border-top: 6px solid #88e9ac;
}

.acoes-container {
  margin-top: 40px;
  width: 100%;
  max-width: 800px;
}

.card-acao {
  background: linear-gradient(135deg, #d2cec2, #ffffff);
  color: rgb(231, 78, 17);
  padding: 15px;
  border-radius: 18px;
  cursor: pointer;
  align-items: center;

  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;

  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card-acao h3 {
  font-size: 20px;
}

.card-acao p {
  opacity: 0.9;
}

.card-acao:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.25);
}
